
.root {
    -fx-background-color: #393a41;
    -fx-font-family: "Montserrat";  
    -fx-font-size: 24px;
}

.label {
    -fx-text-fill: #fff;
    -fx-font-family: "Montserrat Bold";  
}


.sub-label {
	-fx-font-size: 16px;
    -fx-font-family: "Montserrat SemiBold";  
}


.button {
   	-fx-background-color: #5865f2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Montserrat Medium"; 
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-alignment: center; 
}

.text-field {
    -fx-background-color: #35353c;
    -fx-border-color: #414952;
    -fx-border-width: 1px;
  	-fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-text-fill: white; 
}

.text-field:focused {
    -fx-border-color: #76aff6;
}

.infoBox{
 -fx-background-color: #1a1a1e;
 -fx-background-radius: 5px;
 -fx-border-radius: 5px;
}

.hbox-labels{
	-fx-font-size: 16px;
    -fx-font-family: "Montserrat SemiBold";  
}

.hbox-buttons{
	-fx-background-color: #242428;
}

.top-circle {
    -fx-fill: #747c8c;
    -fx-stroke: black;
    -fx-stroke-width: 6px;
}
	
.top-bg{
	
	-fx-fill: #747c8c;
}

.update-user-root{
	-fx-background-color: #121214;
}